@page "/"
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authStateProvider
@inject ILocalStorageService _localStorageService
@using MntNft_TestBlazorApp.Services;
@using System.Security.Claims;
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Hello, @userName</h1>

<button type="submit" class="btn btn-primary" style="margin-top: 10px; width:80px" @onclick="SignOut">Sign Out</button>

@code {

    private string? userName;

    protected async override Task OnInitializedAsync()
    {
        var state = await _authStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            userName = user.FindFirst("name")?.Value;
        }
    }

    private async Task SignOut()
    {
        await _localStorageService.RemoveItem("token");
        await _authStateProvider.GetAuthenticationStateAsync();
    }
}

