@page "/"
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authStateProvider
@inject ILocalStorageService _localStorageService
@using MntNft_TestBlazorApp.Services;
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, user</h1>

        <button type="submit" class="btn btn-primary" style="margin-top: 10px; width:80px" @onclick="SignOut">Sign Out</button>
    </Authorized>
</AuthorizeView>

@code {

    private string userName;

    protected async override Task OnInitializedAsync()
    {
        /*var state = await _authStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (!user.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo("/signin");
        }
        else
        {
            userName = user.Identity.Name;
        }*/
    }

    private async Task SignOut()
    {
        await _localStorageService.RemoveItem("token");
        await _authStateProvider.GetAuthenticationStateAsync();
    }
}

